#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #082029;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loading-p-line {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 60px 0 0 -50px;
    z-index: 1;
    color: white;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#content {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
}

.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 162px;
    width: 100%;
    background-color: #082029;
    border-radius: 16px;
    margin: 20px;
}

.pokemon:hover {
    cursor: pointer;
    box-shadow:
        0 0 15px 5px rgba(255, 255, 255, 0.6),
        inset 0 0 20px 10px rgba(0, 0, 0, 0.2);

    transform: scale(1.01);
}

.pokemon h3 {
    margin: 10px 10px;
    justify-content: space-around;
}

.pokemon img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.types {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0 10px 0;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 4px;
}

.type img {
    width: 100%;
    height: 100%;
    padding: 20%;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}


.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #31b9d4;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1F7586;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.500);

    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    background-color: #082029;
    border-radius: 16px;
    /* margin: 20px; */
}

.pokemon-details h2 {
    margin: 10px 20px;
    justify-content: space-around;
}

.pokemon-details img {
    background-image: url(./assets/img/pokeball_bizar.png);
    background-position: right bottom;
    background-size: 40px;
    background-repeat: no-repeat;
    width: 360px;
    height: 360px;
    object-fit: cover;
}
.headline-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}












.close-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

.name_close {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;

    color: white;

    font-size: 24px;
    font-weight: 400;
}

.image {
    padding-left: 10%;
    padding-right: 10%;
}

.image img {
    width: 100%;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #05171E;
}

.arrow_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 10%;
    padding-right: 10%;
}

.counter {
    color: white;
}

.left-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-width: 0;
    background-color: #0D3240;
}

.left-button:hover {
    cursor: pointer;
    border-style: ridge;
    border-color: white;
    border-width: 1px;
}

.left-button img {
    width: 100%;
    object-fit: cover;
    transform: rotate(180deg);
    transition: transform 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.right-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-width: 0;
    background-color: #0D3240;
    object-fit: cover;
}

.right-button:hover {
    cursor: pointer;
    border-style: ridge;
    border-color: white;
    border-width: 1px;
}

.right-button img {
    width: 100%;
    object-fit: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}